$primaryTextColor: #002033;
$secondaryTextColor: rgba(0, 32, 51, 0.6);
$tertiaryTextColor: rgba(0, 57, 92, 0.8);
$blueColor: #0078d2;
$greenColor: #22c38e;
$grayBg: rgba(0, 66, 105, 0.07);
$darkThemeTectColor: rgb(211, 211, 211);
$darkThemeBackgroundDarkest: rgb(34, 34, 34);
$darkThemeTertiaryBtnBg: rgb(155, 155, 155);
